workflows/deliverables/Simple workflow w_LLM.json
{
  "name": "Simple workflow w/LLM",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"name\": \"string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "a20ea5f6-303f-4974-9a5b-51b41be4f083",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.name }}",
        "options": {
          "systemMessage": "You are a helpful assistant who responds to the given name with the origins of the name. \n\n# Keep responses short"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        112,
        96
      ],
      "id": "177233d8-8f65-4fcb-8288-c21718dac715",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        288
      ],
      "id": "1705c043-32e2-45e0-a1a8-11f88f24e29c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YFgbgpQKdl0rNQc3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M",
          "mode": "list",
          "cachedResultName": "simple workflow w/llm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "name origin": "={{ $json.output }}",
            "time": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name origin",
              "displayName": "name origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        16
      ],
      "id": "7055ce88-4613-4cd2-91b6-bfd510d9fc5e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5aToUTpLfMXtlgQ0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        16
      ],
      "id": "6ab9ec16-7010-432c-9ba0-6b4a90194fe9",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Deliverable #2\n",
        "height": 416,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "7b6b51b2-8b36-48de-a51c-845f45c40ac1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M",
          "mode": "list",
          "cachedResultName": "simple workflow w/llm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        16
      ],
      "id": "7a87456f-208e-499d-9e8e-922fc17e59fc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5aToUTpLfMXtlgQ0",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70b5941a-f08c-49eb-8a5d-c51e37b4062c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3f4a30f2c479452b871c2da23212f6296d0d351a72c3635bf381e1e4a7451bd"
  },
  "id": "zKHQmHTvLT3obssL",
  "tags": []
}