workflows/deliverables/Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d82e09a6-321f-4c9e-a854-8a84ca773b54",
      "name": "Telegram Trigger",
      "webhookId": "34cec9f4-52b5-477a-b4ce-a233a6446807",
      "credentials": {
        "telegramApi": {
          "id": "H7DNqoTBz83gUDy2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "5ed936ea-41b8-42fb-83c0-878afa99fd09",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        176
      ],
      "id": "72c05d63-b257-44d2-8f37-71293ab4812d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YFgbgpQKdl0rNQc3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        192
      ],
      "id": "c70fbeda-5503-4278-a286-f2d4f42e3d17",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "reW4WdXbuzpvkLeA",
          "mode": "list",
          "cachedResultUrl": "/workflow/reW4WdXbuzpvkLeA",
          "cachedResultName": "research bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $json.message.text }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        432,
        192
      ],
      "id": "1e0627d7-36a4-4024-8d14-1796fd937c47",
      "name": "Call 'research bot'"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "bb4a86df-d6ae-48cb-b4db-7150b8acbccc",
      "name": "Send a text message",
      "webhookId": "3c021c50-4ac1-4ba4-8ae7-036991c0cda4",
      "credentials": {
        "telegramApi": {
          "id": "H7DNqoTBz83gUDy2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        448,
        544
      ],
      "id": "07413c6e-b80e-4cf1-88c3-e14133987c31",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        352
      ],
      "id": "4b4fd989-da17-4441-91a3-2988873a7447",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Google search API is broken on n8n at the moment\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        544
      ],
      "id": "7ce272f5-7c53-495f-9aad-ef6fbeccd82f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=search for papers about LLMs",
        "options": {
          "systemMessage": "You are a helpful research agent that uses your tools (wikipedia and google search) to provide answers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        352
      ],
      "id": "0885386d-e9b0-4e57-9fd0-e65689b09502",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        544
      ],
      "id": "5817148f-bf1d-4486-8824-235e0d775fbf",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YFgbgpQKdl0rNQc3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "data containing the results of simple workflow and simple workflow with llm",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        640
      ],
      "id": "2f9008ee-f4eb-471c-89e8-5015c452abaf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "nmQKIdqbVY9Ox7ew",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        768
      ],
      "id": "7e7f7e2c-fda6-48f3-8711-d46b7c4c6d1d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YFgbgpQKdl0rNQc3",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'research bot'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "adcadda8-24bf-48cc-b04c-8a31251bc659",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3f4a30f2c479452b871c2da23212f6296d0d351a72c3635bf381e1e4a7451bd"
  },
  "id": "DKwTTdpsPbbcV1e0",
  "tags": []
}