workflows/deliverables/webhook routing.json
{
  "name": "webhook routing",
  "nodes": [
    {
      "parameters": {
        "path": ":workflow_option/:text",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a38d6d8a-079c-44b9-8719-dbf25f1e0ff6",
      "name": "Webhook",
      "webhookId": "9c10fb82-b1da-44f6-8aec-9914ed2be67b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.params.workflow_option }}",
                    "rightValue": "basic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9ba8393-31b6-464a-bba0-bdd14f413d87"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd052222-f4f2-4b22-b587-76683af785ce",
                    "leftValue": "={{ $json.params.workflow_option }}",
                    "rightValue": "basic_llm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57b4b5dc-533a-4229-be6d-b88f6ab2ba24",
                    "leftValue": "={{ $json.params.workflow_option }}",
                    "rightValue": "rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        -16
      ],
      "id": "358aa6e0-c775-49b9-932d-d55d36c1f247",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JD1pZSqKKap1p47N",
          "mode": "list",
          "cachedResultUrl": "/workflow/JD1pZSqKKap1p47N",
          "cachedResultName": "Simple workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.params.text }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        -160
      ],
      "id": "d23ffbb6-6fad-4784-a7f7-af8d001fc782",
      "name": "Call 'Simple workflow'"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        -160
      ],
      "id": "6142f9d5-7e86-44fb-a5d5-e15295ec91c7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zKHQmHTvLT3obssL",
          "mode": "list",
          "cachedResultUrl": "/workflow/zKHQmHTvLT3obssL",
          "cachedResultName": "Simple workflow w/LLM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Webhook').item.json.params.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        0
      ],
      "id": "bb077ab4-da82-4f89-a340-056025496404",
      "name": "Call 'Simple workflow w/LLM'1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        0
      ],
      "id": "18277352-6933-4d37-8095-5233aa35ebf0",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pVhyj0SRUB3LGfOb",
          "mode": "list",
          "cachedResultUrl": "/workflow/pVhyj0SRUB3LGfOb",
          "cachedResultName": "Full Rag exaple"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "{{ $json.params.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        160
      ],
      "id": "fcccee12-15b0-4665-b91f-3fa61b13fbab",
      "name": "Call 'Full Rag exaple'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        160
      ],
      "id": "2e930f20-eb66-4970-94f1-58a9b4fcf2f8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        400
      ],
      "id": "060d5309-45cc-4a42-a388-0bd6ec42c58e",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "6718644308",
        "text": "={{ $json.execution.error.message }} |:|  {{ $json.execution.error.stack }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        400
      ],
      "id": "e1b12c0a-5cef-47d5-b751-54ce8f572a63",
      "name": "Send a text message",
      "webhookId": "ca2ac01d-478d-41e8-9fac-2a59d6053d24",
      "credentials": {
        "telegramApi": {
          "id": "10QwZxEJC4jp2HLK",
          "name": "BQ_n8n_f2025_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error Alert to a telegram channel\nDidn't want this to be it's own delivered workflow so I combined two of them\n",
        "height": 256,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        304
      ],
      "id": "a94df73c-51e9-4f71-9dc9-530ea9e586cd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Calls the interactive workflow on the website\n",
        "height": 496,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -208
      ],
      "id": "bcdccca1-49ca-4bfc-8e27-198f15172098",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Simple workflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Simple workflow w/LLM'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Full Rag exaple'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Simple workflow'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Simple workflow w/LLM'1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Full Rag exaple'": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c94e6f4d-f7f1-4615-bd57-affe766bfdd0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3f4a30f2c479452b871c2da23212f6296d0d351a72c3635bf381e1e4a7451bd"
  },
  "id": "5d8XZjr0jwfih4Lc",
  "tags": []
}