rag.json
{
  "name": "Full Rag exaple",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        112
      ],
      "id": "8fca61e3-d1fd-4b08-9cde-ce9e8891b673",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Z70McJQJKhlR-Ngy5GLeLDxrebHW3nTldtONUhj64cw",
          "mode": "list",
          "cachedResultName": "simple workflow sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z70McJQJKhlR-Ngy5GLeLDxrebHW3nTldtONUhj64cw/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -368
      ],
      "id": "580f21c5-874f-4cf5-b0b3-6b25d685d8c5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "meqsGg2fP1KygRQu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M",
          "mode": "list",
          "cachedResultName": "simple workflow w/llm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -208
      ],
      "id": "2651ae4e-840d-4f97-af09-466ba717d7d7",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "meqsGg2fP1KygRQu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        464,
        -288
      ],
      "id": "6c2fab40-4217-4d68-b0e5-f2ca262faeb0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "nmQKIdqbVY9Ox7ew",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        -112
      ],
      "id": "0c80b8e8-df4a-46eb-a42b-d4320c0739b5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YFgbgpQKdl0rNQc3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        -112
      ],
      "id": "d2279620-8487-4f27-bfc1-d1ceefe212fa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "You are a helpful assistant that gives information on who has used the simple workflow and simple workflow with llm tools"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        112
      ],
      "id": "53fea26c-8a15-4bb2-9991-d17dfdcaffe8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Data on who has used the simple workflow and simple workflow with llm",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        288
      ],
      "id": "da695187-772a-4f6a-96cf-856b0960ebfb",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "nmQKIdqbVY9Ox7ew",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        416
      ],
      "id": "ec1de172-cf06-459b-a31f-98ba751177e4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "YFgbgpQKdl0rNQc3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        320
      ],
      "id": "c9a51dc8-c86a-48a1-b07c-73159dfd61dc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YFgbgpQKdl0rNQc3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1Z70McJQJKhlR-Ngy5GLeLDxrebHW3nTldtONUhj64cw",
          "mode": "list",
          "cachedResultName": "simple workflow sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z70McJQJKhlR-Ngy5GLeLDxrebHW3nTldtONUhj64cw/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -368
      ],
      "id": "6a0e87c3-7ae1-440e-804b-e5e0bfb14a7a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "meqsGg2fP1KygRQu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M",
          "mode": "list",
          "cachedResultName": "simple workflow w/llm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrbvUyZyt82aTwmBO2rzSRK3N85-qLpLMUMDN_Fqq8M/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -208
      ],
      "id": "0ac4a198-2c78-4847-9cbc-5e816aa4f5d6",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "meqsGg2fP1KygRQu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check for updates and update vector store for RAG\n",
        "height": 464,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -448
      ],
      "id": "94343d35-c5bb-4407-95d3-967029ec4ee2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG chatbot\n",
        "height": 464,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        48
      ],
      "id": "fa9e9078-7b5e-47b5-a381-7efdeccefd7a",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77464f09-3ceb-4ad0-8373-8b10c8b6c9f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3f4a30f2c479452b871c2da23212f6296d0d351a72c3635bf381e1e4a7451bd"
  },
  "id": "pVhyj0SRUB3LGfOb",
  "tags": []
}