smth.json
{
  "name": "Telegram Handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        80
      ],
      "id": "92d99fcd-e61a-44a2-9d67-1af42510cd14",
      "name": "Telegram Trigger",
      "webhookId": "2974815b-5777-4bd1-a304-ead86bff0e61",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "41c0c5c7-b13f-403e-90f2-e803decca0f1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33d1f3fa-2474-4a16-ab79-c2ed88c372ca",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7fc4ee0d-0341-4536-9ffc-c3e5ca5486ea",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/createAccount",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81c8c72d-01f4-4f20-990a-b8c75d20e3c9",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/link",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6eaf7243-d4ef-4e9d-9913-7d2801fcbbea",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/unlink",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b88093f-f651-4e2f-bf56-a64965410e0b",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/human",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abe2009e-f50e-4613-a208-5a80e8d2fa80",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1264,
        -16
      ],
      "id": "a6bfd3eb-f307-4c3f-acfe-0b9b9a69becc",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.id }}",
        "text": "=Hi {{ $('Edit Fields').item.json.name }}. Respond with \"/createAccount\" if you would like to setup an account with us. if you do not wish to setup an account simply start chatting with our AI assistant. Please note that not setting up an account limits you to AI help only no staff will view your issue(s). \n\nFor a list of commands type \"/menu\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        -496
      ],
      "id": "af211f9c-416e-4910-aaa9-f0235fd12bb7",
      "name": "Account setup",
      "webhookId": "9091e24f-0b87-4c06-8ce5-435284544a15",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.id }}",
        "text": "=Use this link to create an account: \nhttps://uvm-ticket-system.vercel.app/signup\n\nOnce the account is created and verified use the command:\n/link <your_email_here> \nto connect your account with this telegram chat ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        -224
      ],
      "id": "773c4a7f-578a-4d50-8432-d97d09d61238",
      "name": "Send a text message",
      "webhookId": "f9028388-6177-4c97-9101-a29e7e3ab656",
      "credentials": {
        "telegramApi": {
          "id": "7VxFwTYN5ezzHQY8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1824,
        752
      ],
      "id": "0087fe20-0fd1-4d73-ae16-055186ec49c5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1744,
        960
      ],
      "id": "13d92975-0e65-4a84-9d2d-b637d1ce680e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OM0xnuhaA6ck7hC3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1872,
        960
      ],
      "id": "0fa36b19-c2d2-4702-8f79-eaabe8ce429c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Gives answers related to common issues"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1888,
        1120
      ],
      "id": "8b3915e2-5b78-48c4-93a5-9a9f7e2c2a0e",
      "name": "UVM_knowledge_base"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "uvm_kb_embeddings_updated",
          "mode": "list",
          "cachedResultName": "uvm_kb_embeddings_updated"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1792,
        1248
      ],
      "id": "1cb97300-94ca-43aa-9775-ab68c7465ce1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        1424
      ],
      "id": "bbc9907c-8164-4275-941e-457ace5c1117",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OM0xnuhaA6ck7hC3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2096,
        1280
      ],
      "id": "14b6bc7c-b117-4966-8e72-2fc80b9b0a2b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "OM0xnuhaA6ck7hC3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2688,
        672
      ],
      "id": "404e37a0-5309-46f7-9e4c-66c9bfc1ba6e",
      "name": "Send a text message2",
      "webhookId": "f938ea6f-762f-4ffd-9b24-2ff5da64010f",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "operation": "pinChatMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $json.result.message_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        -496
      ],
      "id": "48101165-7756-4b90-804a-4a1a7537289c",
      "name": "Pin a chat message",
      "webhookId": "f439d5d3-5d08-489c-850a-dec3935b0227",
      "credentials": {
        "telegramApi": {
          "id": "7VxFwTYN5ezzHQY8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.id }}",
        "text": "/menu -> display these command options\n/createAccount -> link to create an account. You will need a valid email address\n/link <your validated email here> -> links the account with this chat \n/unlink -> removes this chat from your account\n/human -> Our human support staff will assist you with this issue (only avalible with a linked account)\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        -352
      ],
      "id": "f6fb19d1-3e7b-4b87-9dac-6880595518a8",
      "name": "Send a text message1",
      "webhookId": "1f9b8a7f-a766-4a22-aaeb-8a137bffd12b",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "=email",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_msg_id",
              "fieldValue": "={{ $('Code in JavaScript').item.json.msg_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2672,
        -208
      ],
      "id": "ac407b2e-3ca8-486e-8a31-3b3f041b95c5",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn {\n  \"msg_id\": $input.first().json.id,\n  \"email\": $input.first().json.text.replace(\"/link \", \"\")\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -64
      ],
      "id": "7b872d24-eda4-43cb-8f1f-cb8f08ced55a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "=users",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_msg_id",
              "keyValue": "={{ $json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        0
      ],
      "id": "b13d23eb-66c8-45f9-97bd-167fd549dadc",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        64
      ],
      "id": "4a6c65cd-972c-4614-831b-dffa8fc1eb3a",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fca8b3fb-d0bd-4381-8781-bbdff96e4e51",
              "leftValue": "={{ $('Get a row').item.json.created_at }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        64
      ],
      "id": "31d96fd2-5599-4969-a40a-8ec86bccac80",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2112,
        -64
      ],
      "id": "122da67c-c79b-414b-876a-f5a4abac93df",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40136f1c-35e4-4962-a337-d3e6781e32b9",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2288,
        -64
      ],
      "id": "b9aceb8b-9277-46a5-9e56-6ae197cd4121",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Code in JavaScript').item.json.id }}",
        "text": "=It seems that you have not created an account.\nUse the /createAccount command to start the process",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2480,
        16
      ],
      "id": "1c2c8145-6d4e-48f1-b7be-28e575917690",
      "name": "Send a text message3",
      "webhookId": "63f20825-e717-4ca2-93c2-a899151861ed",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.id }}",
        "text": "=Thank you {{ $('Switch').item.json.name }}, for linking your Cat TS account with telegram. All messages sent will be responded to with an AI assistant unless you start your message with the /human command. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2672,
        -336
      ],
      "id": "c594979e-b4d2-4b66-ac55-f1acc191929b",
      "name": "Send a text message4",
      "webhookId": "cc519629-f372-4a3d-86fc-7de43aa66fd3",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d258073-d9e8-4bf3-b475-5c794bb11307",
              "leftValue": "={{ $('Edit Fields').item.json.account_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        160
      ],
      "id": "92118d0c-ce59-4d8c-9529-77aa2f827529",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.id }}",
        "text": "=Your account has been unlinked the /human command will no longer work and your ticket history has been deleted",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        576
      ],
      "id": "8badb74d-b02c-475e-a402-f73986d92dc3",
      "name": "Send a text message5",
      "webhookId": "63f20825-e717-4ca2-93c2-a899151861ed",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.id }}",
        "text": "No account is currently linked",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        96
      ],
      "id": "76deae5c-d8b8-422a-9b1e-b955ac113b8a",
      "name": "Send a text message6",
      "webhookId": "01208342-817b-4fa5-8d1f-6654c6439646",
      "credentials": {
        "telegramApi": {
          "id": "eGMEqjKkPls0gjIJ",
          "name": "catTS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35672d79-3e13-4384-b25c-88d992dea292",
              "name": "account_exists",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1fdc3f3b-0837-4723-8ab3-17b8cbde6884",
              "name": "id",
              "value": "={{ $('Merge').item.json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "c8d463a6-39da-4fc9-a25d-5403be554abd",
              "name": "name",
              "value": "={{ $('Merge').item.json.message.chat.first_name }}",
              "type": "string"
            },
            {
              "id": "31272093-ed6c-4d64-aafe-326502e6d0fb",
              "name": "text",
              "value": "={{ $('Merge').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -32
      ],
      "id": "41b8feae-7829-4cf7-85ce-25694bab7591",
      "name": "account linked"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "100b2b2a-f971-44a0-b5aa-3dd53930c889",
              "name": "account_exists",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b988633d-ade8-467e-af38-a44c614de011",
              "name": "id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "3d96fb20-c8fa-47f3-b449-31cbf14dcb5b",
              "name": "name",
              "value": "={{ $json.message.chat.first_name }}",
              "type": "string"
            },
            {
              "id": "dfbc1fc9-e787-49ca-a63c-b61912d1cf26",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        144
      ],
      "id": "d9dd93a6-cf3e-4941-aa0e-9e9f608e789c",
      "name": "account not linked"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd6b11a4-dbe5-4aad-a4e9-87e9cf0165b9",
              "name": "account_exists",
              "value": "={{ $json.account_exists }}",
              "type": "boolean"
            },
            {
              "id": "c97957df-0552-4065-a963-48a62adc9f06",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "444fe6f5-e608-49df-914e-bbadb701009a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "23a98b46-1a90-4885-a77e-a2cb0aa3ef8b",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        64
      ],
      "id": "7d2e61f8-e7d1-4f9c-9786-653bccb19a6c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "ticket_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ticket_id",
              "fieldValue": "={{ $('Merge1').item.json.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Merge1').item.json.output }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2864,
        848
      ],
      "id": "5085dc9d-c33a-4afe-981f-a220e7c79402",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "ticket_messages",
        "fieldsUi": {
          "fieldValues": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1936,
        368
      ],
      "id": "1ebdc841-5959-44b3-b21f-4a9fc1ad004c",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "tickets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('Code in JavaScript').item.json.msg_id }}"
            },
            {
              "fieldId": "issue_description",
              "fieldValue": "Telegram chat"
            },
            {
              "fieldId": "userid",
              "fieldValue": "={{ $('Get a row1').item.json.id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "telegram",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "NOT URGENT"
            },
            {
              "fieldId": "category",
              "fieldValue": "general"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2672,
        -80
      ],
      "id": "3f1f03b6-ebbb-4fab-b43b-1d16f81beffb",
      "name": "Store ticket in supabase",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2208,
        672
      ],
      "id": "bdabdf27-cc9e-4566-b1a2-e599cfd1ee98",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_msg_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2688,
        848
      ],
      "id": "9e427156-19c6-4b20-849e-030e153da668",
      "name": "Get a row2",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c03b7d2-f5a7-4bad-b636-2d6060420a3f",
              "leftValue": "={{ $json.account_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2416,
        672
      ],
      "id": "5610abf6-2025-4722-8a05-464f72319e99",
      "name": "If3"
    },
    {
      "parameters": {
        "content": "## Menu Messages\n",
        "height": 496,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        -576
      ],
      "id": "a8f57316-0e83-48b9-9be3-5f3baf55213c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## link to user and create ticket  ",
        "height": 512,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2576,
        -464
      ],
      "id": "d93c70ff-dc3d-46cd-8e8b-9f3ea218778b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Delete telegram link and ticket ",
        "height": 624,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        80
      ],
      "id": "54a26831-535b-4879-83ea-9278b1634da5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "ticket_messages",
        "filters": {
          "conditions": [
            {
              "keyName": "ticket_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2896,
        176
      ],
      "id": "48e8c6d4-549a-426a-8333-5a28961293d4",
      "name": "Delete messages",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "tickets",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2896,
        432
      ],
      "id": "8e70771f-732a-42b6-a7cc-65d148e847cd",
      "name": "Delete ticket",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "=telegram_msg_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_msg_id",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2896,
        304
      ],
      "id": "98bc6319-5053-4f5b-b13c-57162aee5daa",
      "name": "Remove ticket from user",
      "credentials": {
        "supabaseApi": {
          "id": "A0VrnbNovTXpp0AY",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Account setup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "UVM_knowledge_base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "UVM_knowledge_base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "UVM_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Account setup": {
      "main": [
        [
          {
            "node": "Pin a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pin a chat message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "account linked",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "account not linked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store ticket in supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        []
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove ticket from user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "account linked": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "account not linked": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove ticket from user": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6afd820-c17b-4fbc-bcba-35e7f9fbe892",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5da0f5ad4731153c715155acd66d8616a23c5c0257d047a07195ae76e9d062df"
  },
  "id": "bsKDduw69eWDeQSV",
  "tags": [
    {
      "updatedAt": "2025-11-28T20:38:37.485Z",
      "createdAt": "2025-11-28T20:38:37.485Z",
      "id": "i1FeQ7XzxG98cFDo",
      "name": "final project"
    }
  ]
}